h1 {
    text-align: center;
    font-family: 'Times New Roman';
    font-size: 16px;
    color: #be1e2d;
    }
body {
    text-align: center;
    font-family: Verdana;
    font-size: 16px;
    color: #8a8c8f;
    background-color: #303030;
}